<div class="container">
  <mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title>Resultado del cálculo</mat-card-title>
      <mat-card-subtitle>liquidación empleada dosméstica</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        
        <!-- Definiciones -->
        <div class="col-md-6">
          <mat-list>
            <mat-list-item style="background-color: rgb(237, 237, 238) !important;">Salario base mensual:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Días a liquidar:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Auxilio de transporte:</mat-list-item>
            <mat-divider></mat-divider> 
            <mat-list-item>Base de liquidación:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Prima:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Cesantías:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Interés a las cesantías:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Días de vacaciones a pagar:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Días de vacaciones a tomados:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Vacaciones:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Indemnización:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Total a pagar:</mat-list-item>
          </mat-list>
        </div>

        <!-- Valores -->
        <div class="col-md-6">
            <mat-list>
              <mat-list-item style="background-color: rgb(237, 237, 238) !important;">{{ salarioBaseMensual | currency }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ diasALiquidar }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item class="mat-list-item-2">{{ auxilioTrasporte | currency }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ baseLiquidacion | currency }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ prima | currency }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ cesantias | currency }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ interesCesantias | currency }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ diasVacaciones  | number : '1.2-2' }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ diasVacacionesTomados  | number : '1.2-2' }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ vacaciones | currency }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ indemnizacion | currency }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ totalPagar | currency }}</mat-list-item>
            </mat-list>
          </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>