<div class="contenedor">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="rsForm" (ngSubmit)="calcular()" validate>
        <mat-card class="example-card-2">
          <mat-card-header>
            <mat-card-subtitle>Diligencie la información que se muestra a continuación para calcular la liquidación.</mat-card-subtitle>

          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content style="top: 10px; position: relative;">

            <h6><strong> ¿Terminación de relación laboral? </strong></h6>
            <div class="row">
              <div class="col-md-6">
                <section class="example-section">
                  <mat-radio-group formControlName="termino">
                    <mat-radio-button value="S">Sí</mat-radio-button>
                    <mat-radio-button value="N" style="left: 20px; position: relative;">No</mat-radio-button>
                  </mat-radio-group>
                </section>
              </div>
            </div>
            

            <h6 *ngIf="rsForm.value.termino == 'S'"><strong> ¿Motivo de terminación? </strong></h6>
            <div class="row" *ngIf="rsForm.value.termino == 'S'">
              <mat-radio-group class="example-radio-group " formControlName="motivo">
                <div class="row">
                  <div class="col-md-6">
                    <mat-radio-button class="example-radio-button" style="left: 20px; position: relative;" value="R">
                      Renuncia valuntaria</mat-radio-button>
                    <mat-radio-button class="example-radio-button" style="left: 20px; position: relative;"
                      value="VTCSI">
                      Vencimiento terminos del contrato(Sin indemnización)</mat-radio-button>
                  </div>
                  <div class="col-md-6">
                    <mat-radio-button class="example-radio-button" style="left: 20px; position: relative;" value="TCC">
                      Terminación con justa causa(Sin indemnización)</mat-radio-button>
                    <mat-radio-button class="example-radio-button" style="left: 20px; position: relative;" value="TSC">
                      Terminación sin justa causa(Con indemnización)</mat-radio-button>
                  </div>
                </div>
              </mat-radio-group>
            </div>

            <h6 *ngIf="rsForm.value.termino == 'S'"><strong> ¿Cuando inicio y finalizó labores? </strong></h6>
            <h6 *ngIf="rsForm.value.termino == 'N'"><strong> ¿Cuando inicio y hasta cuando desea calcular?</strong></h6>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="form-group generic-width-input">
                  <mat-label>Fecha inicial</mat-label>
                  <input matInput id="fechaInicial" formControlName="fechaInicial" [matDatepicker]="fechaInicial"
                    placeholder="Diligencia la fecha DD/MM/YYYY"
                    (ngModelChange)="totalDiasLaborados(this.rsForm.controls.fechaInicial , 'La fecha final no puede ser mayor a la fecha inicial.')">
                  <mat-datepicker-toggle matSuffix [for]="fechaInicial"></mat-datepicker-toggle>
                  <mat-datepicker #fechaInicial></mat-datepicker>
                  <mat-error *ngIf="rsForm.controls['fechaInicial'].invalid">
                    {{rsForm.controls['fechaInicial'].errors.message}}
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field appearance="outline" class="form-group generic-width-input">
                  <mat-label>Fecha Finalización</mat-label>
                  <input matInput id="fechaFin" formControlName="fechaFin" [matDatepicker]="fechaFin"
                    placeholder="Diligencia la fecha DD/MM/YYYY"
                    (ngModelChange)="totalDiasLaborados(this.rsForm.controls.fechaFin, 'La fecha final no puede ser mayor a la fecha inicial.')">
                  <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                  <mat-datepicker #fechaFin></mat-datepicker>

                  <mat-error *ngIf="rsForm.controls['fechaFin'].invalid">
                    {{rsForm.controls['fechaFin'].errors.message}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <h6><strong> ¿Tipo de vinculación? </strong></h6>
            <div class="row">
              <div class="col-md-6">
                <section class="example-section">
                  <mat-radio-group formControlName="tipoVinculacion">
                    <mat-radio-button value="D">Días</mat-radio-button>
                    <mat-radio-button value="C" style="left: 20px; position: relative;">Tiempo completo
                    </mat-radio-button>
                  </mat-radio-group>
                </section>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <h6 *ngIf="rsForm.value.tipoVinculacion == 'D'"><strong> ¿Cuantos días labora a la semana? </strong>
                </h6>
                <div class="row" *ngIf="rsForm.value.tipoVinculacion == 'D'">
                  <div class="col-md-12">
                    <mat-form-field appearance="outline" class="form-group generic-width-input">
                      <mat-label>Días por semana</mat-label>
                      <input matInput id="diasTrabajoSemanal" formControlName="diasTrabajoSemanal"
                        placeholder="Diligencia el campo" (blur)="salarioBaseMensual()">
                      <mat-error *ngIf="rsForm.controls['diasTrabajoSemanal'].invalid">
                        {{rsForm.controls['diasTrabajoSemanal'].errors.message}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <h6 *ngIf="rsForm.value.tipoVinculacion == 'D'"><strong> ¿Valor del día? </strong></h6>
                <div class="row" *ngIf="rsForm.value.tipoVinculacion == 'D'">
                  <div class="col-md-12">
                    <mat-form-field appearance="outline" class="form-group generic-width-input">
                      <mat-label>Valor que paga por día</mat-label>
                      <input matInput id="valorDia" formControlName="valorDia" placeholder="Diligencia el campo"
                        (keypress)="soloNumeros($event)" (blur)="salarioBaseMensual()">
                      <mat-error *ngIf="rsForm.controls['valorDia'].invalid">
                        {{rsForm.controls['valorDia'].errors.message}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <h6 *ngIf="rsForm.value.tipoVinculacion == 'C'"><strong> ¿Salario mensual? </strong></h6>
            <div class="row" *ngIf="rsForm.value.tipoVinculacion == 'C'">
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="form-group generic-width-input">
                  <mat-label>Valor que paga mensualmente</mat-label>
                  <input matInput id="valorMensual" formControlName="valorMensual" placeholder="Diligencia el campo"
                    (blur)="salarioBaseMensual()" (keypress)="soloNumeros($event)">
                  <mat-error *ngIf="rsForm.controls['valorMensual'].invalid">
                    {{rsForm.controls['valorMensual'].errors.message}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <h6><strong> ¿Ha pagado vacaciones? </strong></h6>
                <div class="row">
                  <div class="col-md-12">
                    <section class="example-section">
                      <mat-radio-group formControlName="vacionesPagas">
                        <mat-radio-button value="S">Sí</mat-radio-button>
                        <mat-radio-button value="N" style="left: 20px; position: relative;">No</mat-radio-button>
                      </mat-radio-group>
                    </section>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <h6 *ngIf="this.rsForm.value.vacionesPagas == 'S'"><strong> ¿Días de vacaciones tomados? </strong></h6>
                <div class="row" *ngIf="this.rsForm.value.vacionesPagas == 'S'">
                  <div class="col-md-12">
                    <mat-form-field appearance="outline" class="form-group generic-width-input">
                      <mat-label>Días tomados</mat-label>
                      <input matInput id="diasVacacionesTomados" formControlName="diasVacacionesTomados"
                        placeholder="Diligencia el campo" (blur)="calcular()" (keypress)="soloNumeros($event)">
                      <mat-error *ngIf="rsForm.controls['diasVacacionesTomados'].invalid">
                        {{rsForm.controls['diasVacacionesTomados'].errors.message}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button mat-button class="mdn-btn" (click)="calcular()">Calcular liquidación</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
    <div class="col-md-6">
      <app-calculo-liquidacion [salarioBaseMensual]="this.rsForm.value.salarioBaseMensual"
        [auxilioTrasporte]="this.rsForm.value.auxilioTrasporte" [diasALiquidar]="this.rsForm.value.diasALiquidar"
        [baseLiquidacion]="this.rsForm.value.baseLiquidacion" [cesantias]="this.rsForm.value.cesantias"
        [interesCesantias]="this.rsForm.value.interesCesantias" [prima]="this.rsForm.value.prima"
        [vacaciones]="this.rsForm.value.vacaciones" [diasVacaciones]="this.rsForm.value.diasVacaciones"
        [diasVacacionesTomados]="this.rsForm.value.diasVacacionesTomados" [totalPagar]="this.rsForm.value.totalPagar">
      </app-calculo-liquidacion>
    </div>
  </div>
</div>