/* You can add global styles to this file, and also import other style files */
body{
    background-color: transparent;
}

.mdn-btn {
    border-radius: 8px !important;
    letter-spacing: 1px;
    font-weight: lighter;
    color: #fff !important;
    background-image: linear-gradient(to right, #3886D9, #3C67DE) !important;
}

.mdn-btn:hover {
    color: #3C67DE !important;
    background-image: linear-gradient(to right, #fff, #fff) !important;
}

.mat-list-item-2:mat-list-item-content{
    justify-content: flex-end;
}

.example-card {
    max-width: 600px;
}

.example-card-2 {
    max-width: 1200px;
}
  
.contenedor {
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
}

.generic-width-input {
    min-width: 150px;
    max-width: 1100px;
    width: 100%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}